<h1><%= @restaurant.name %></h1>

<h4>Address: <%= @restaurant.address %></h3>

<p>Category: <%= @restaurant.category %></p>
<p>Reviews:</p>
<ul>
<% @restaurant.reviews.each do |review| %>
      <li><%= review.content %>, rating: <%= review.rating %></li>
<% end %>
</ul>
<hr>

<%= link_to "Add a review", new_restaurant_review_path(@restaurant) %>
